/* Add CSS Styling */

.odd-elements {
    background-color: #f09393;
    font-family: Verdana, 'DejaVu Sans', sans-serif;
}

#element-two {
    color: #0000ff;
    font-size: 36px;
}

#element-three {
    font-size: 24px;
}

#element-four {
    background-color: #90ee90;
    font-size: 24px;
    font-weight: bold;
}